  <footer class="footer-openshift">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 logo">
        <a href="https://www.redhat.com/"></a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 text-center">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <a href="https://www.redhat.com/en/about/privacy-policy">
              Privacy Policy
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
          <a href="https://www.redhat.com/en/about/terms-use">
            Terms and Conditions
          </a>
          </div>
          <div class="col-xs-12 col-md-4">
          <a href="https://www.redhat.com/en/technologies/industries/government">
            Public Sector
          </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 text-right">
        <a id="built_with_asciibinder" href="http://asciibinder.org/">
          <img src="<%= File.join(images_path, 'asciibinder_web_logo.svg') %>" alt="AsciiBinder" />
        </a>
      </div>
    </div>
  </div>
</footer>
